@import "general";
@import "grid-text";
@import "index-queries";
@import "contacts";
@import "contacts-queries";
@import "project";
@import "project-queries";


$title-font: "Audiowide", Helvetica, sans-serif;
$link-font: 'Rajdhani', Helvetica, sans-serif;
$text-font: "Roboto Flex", Helvetica, sans-serif;
$wip-font: 'Finger Paint', Helvetica, sans-serif;

$bg-color: url(../img/bianco-verticale.jpg);
$bar-color: rgb(54, 75, 95);
$link-color: #1475BC;




