*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/bianco-verticale.jpg);
}

p{
    text-align: center;
    font-family: 'Finger Paint', Helvetica, sans-serif;
    font-size: 24px;
    margin: 35px 400px;
}

a{
    font-family: "Rajdhani", Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    color: #1475BC;
    font-weight: bold;
}
a:hover{
    color:rgb(83, 155, 203);
}
a:active{
    color: black;
}
a:visited{
    color:rgb(117, 121, 124);
}
a:visited:hover{
    color: rgb(210, 237, 247);
}
a:visited:active{
    color: black;
}

iframe{
    border: 5px solid #66350d;
    border-radius: 3%;
}

.wip{
    max-width: 300px; 
    margin-left: 800px;
    margin-top: 80px;
}

.frame{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.cv{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 9px;
}

.bar-bottom{
    background: rgb(54, 75, 95);
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 500px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wip{
        margin: auto;
    }
    .frame{
        flex-direction: column;
        margin: 20px;
    }
    p{
        margin: auto;
    }
    .bar-bottom{
        margin: auto;
    }
    footer{
        margin: 25% 0 0 0;
    }
}

@media (min-width: 501px) and (max-width: 750px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wip{
        margin: auto;
    }
    .frame{
        flex-direction: column;
        margin: 20px;
    }
    p{
        margin: auto;
    }
    .bar-bottom{
        margin: auto;
    }
    footer{
        margin: 30% 0 0 0;
    }
}

@media (min-width: 751px) and (max-width: 999px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wip{
        margin: auto;
    }
    .frame{
        flex-direction: column;
        margin: 20px;
    }
    p{
        margin: auto;
    }
    .bar-bottom{
        margin: auto;
    }
    footer{
        margin: 35% 0 0 0;
    }
}

@media (min-width: 1000px) and (max-width: 1300px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wip{
        margin: auto;
    }
    .frame{
        margin: 20px;
    }
    p{
        margin: auto;
    }
    .bar-bottom{
        margin: auto;
    }
    footer{
        margin: 27% 0 0 0;
    }
}